/* overall styling */
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  height: 95vh;
  background-color: #edf6f9;
}

/* Header Styling */
.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.header .links {
  display: flex;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
.header .links a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  padding: 5px;
  align-items: center;
}
.header .links a i {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#378991),
    to(rgb(150, 212, 233))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .links .linked {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #378991;
  transition: width, 0.3s ease-out, opacity;
  opacity: 0.7;
}
.header .links .linked:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 12px #2f747a;
  width: 46px;
  height: 46px;
  transition: width, 0.1s ease-in, opacity;
  opacity: 1;
  font-size: 1.25em;
}
.header #icon {
  width: 78px;
  height: auto;
  padding: 15px;
}

/* Container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* main-section styling */
.container .main {
  max-width: 100%;
  width: 60%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px lightgray;
  color: #064789;
}
.container .main .heading {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  color: #0d3b66;
}
.container .main .heading h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 5pc;
}
.container .main .heading #topicsheading {
  font-size: 3pc;
}
.container .main .heading h4 {
  padding: 15px;
}
.container .main a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-decoration: none;
}

/* Buttons styling in main-section */
.container .main a .buttons {
  background-color: #83c5be;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  color: #edf6f9;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.container .main a .buttons:hover {
  background-color: #0694a1;
  cursor: pointer;
}

/* Feedback-Page styling */
.containerFeed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.containerFeed .mainFeed {
  max-width: 100%;
  width: 90%;
  height: 65vh;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px lightgray;
  color: #064789;
}

.containerFeed .mainFeed .formFeed {
  display: grid;
  justify-content: left;
  width: 100%;
}

.containerFeed .mainFeed .formFeed .descriptionFeed {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.containerFeed .mainFeed .formFeed .descriptionFeed .textBox {
  width: 500px;
  height: 150px;
  margin-top: 5px;
  border: none;
  padding: 5px;
}
